all:
  vars:
    testbox_host: {{testbox_host}}
    externals_host: {{externals_host}}
  children:
    externals:
      hosts:
        {{externals_host}}:
          ansible_user: splunker
    testbox:
      hosts:
        {{testbox_host}}:
          ansible_user: splunker
